 @media (min-width: 640px) { /* 768px */
    .navbar-brand#logo {
    	padding-top: 30px;
    	height: 80px;
    	margin-left: 20px;
    	margin-right: 20px;
  		width: 100%;
	  	font-family: 'Georgia', Times, 'Times New Roman', serif;
	  	text-align: center;
	  	color: white !important;
	  	font-weight: bold;
	  	font-size: 20px !important;
	  	background: #4aaaa5;

    }
    .navbar-header ul > li {
    	display: inline-block;
    	font-size: 20px;
    }
    .navbar-header ul {
    	height: 80px;
    	margin-top: 0;
    	padding-top: 18px;
    	background-color: white;
    	text-align: center;
    }

}





.navbar-raw a {
    float: left;
}

.me {
	height: 210px;
  	padding: 0 20px 10px 10px;
  	float: left;
}

h3 {
	text-align: center;
}

p {
	font-family: 'Playfair Display', serif;
}


.thumb {
	width: 75px;
  	height: 75px;
  	display: inline-block;
}

.footer {
	text-align: center;
	position: static;
	clear: both;
	font-size: 11px;
	clear: both;
	font-family: 'Playfair Display', serif;
}
